.container {
  grid-template-columns: [block] 1fr [block] 1fr [block] 1fr;
  grid-template-rows: auto;
  display: grid;
  gap: 10px;
}

.item {
  padding: 30px;
  border-radius: 8px;
  font-size: 56px;
  height: 300px;
  border: 1px solid var(--black-color);
  align-items: center;
  /* color: white; */
  /* background: var(--accent-color); */
}
