.header {
  width: 100%;
  background-color: var(--accent-color);
  color: var(--white-color);
  padding: 15px;
  height: 80px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* grid-template-columns: [logo] 200px [menu] auto [button] 200px; */
  gap: 20px;
}

.navList {
  display: flex;
  gap: 50px;
  justify-content: flex-end;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItem {
}

.navLink {
}

.btn {
  cursor: pointer;
  border-color: var(--white-color);
  color: var(--white-color);

  display: inline-flex;
  height: 48px;

  align-items: center;
  border-radius: 100px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;

  border: 1px solid white;
  background: none;
  line-height: 18px;
  letter-spacing: 1.6px;
  padding: 0 24px;
}
.btn:hover {
  color: black;
  border-color: black;
}

@media (max-width: 768px) {
  .nav {
  }

  .navItem {
  }
}

/* Hero */
.hero {
  width: 100%;
  padding: 30px 20px;
  background-color: var(--accent-color);
  color: var(--white-color);
  word-break: break-word;
  display: flex;
  padding: 80px 0;
}
.wrapper {
  width: 100%;
}

.wrapper > span {
  color: black;
  display: block;
}

.hero_img {
  width: 100%;
}
.wrapper_img {
  position: relative;
  bottom: 0;
  left: 0;
  top: 0;
}
/* /sections/ */
.mission {
  grid-template-columns: [row-info] 2fr [block] 1fr [block] 1fr [block] 1fr;
  grid-template-rows: auto;
  display: grid;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  gap: 30px;
  padding: 100px 0;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  width: 100%;
  max-width: 1440px;
}

.mission_block {
  width: 280px;
  align-items: center;
}
.block {
  padding: 30px;
  border-radius: 8px;
  font-size: 42px;
  border: 1px solid var(--black-color);
}
.block > p {
  font-size: 18px;
  padding-top: 10px;
  line-height: 0.8;
}
