.list {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  list-style: none;
  display: grid;
  gap: 4px;
}

.list > li > a {
  cursor: pointer;
  padding: 24px;
  display: block;
}

.list > li > a:hover,
.list > li > a:focus {
  background-color: rgba(253, 253, 253, 0.152);
  color: black;
}
.active_link {
  background-color: rgba(253, 253, 253, 0.152);
  color: black;
}
