:root {
  --white-color: #ffffff;
  --black-color: #212121;
  --accent-color: #3549ff;
  --primary-font-stack: apple-system, BlinkMacSystemFont "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --title-font-stack: "Amagro", Arial, serif;
  --font-size-base: 18px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--title-font-stack);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  background-color: var(--accent-color);
  color: white;
  margin: 0;
  padding: 0;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font-stack);
}

button {
  font-family: inherit;
  cursor: pointer;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

iframe {
  border: none;
}

.container {
  max-width: 1880px;
  margin: 0 auto;
}

.title {
  font-weight: 400;
  line-height: 0.85;
  font-size: 96px;
  line-height: 1.5;
}
.sub_title {
  font-size: 76px;
  line-height: 1.5;
}
