.container_about {
  padding: 80px 0;
  width: 60vw;
}
.mission {
  grid-template-columns: [row-info] 1fr [block] 1fr [block] 1fr [block] 1fr;
  grid-template-rows: auto;
  display: grid;
  gap: 30px;
  width: 1440px;
}

.list_about_us {
  padding-top: 100px;
  padding-bottom: 100px;
}
