.container {
  grid-area: content;
  background-color: whitesmoke;
  color: black;
  height: calc(100vh - 85px);
  padding: 20px;
}

.aside {
  grid-area: sidebar;
  min-width: 300px;
  padding: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas: "sidebar content";
}
